{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="section" id="contact">

        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="row">

                <h1 class="text-center title">Контакты</h1>
                <div class="social col-sm-offset-5 text-center">
                    <span><a href="https://www.instagram.com/fishkar_hairdresser/" target="_blank" class="btn btn-block btn-social btn-instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i></a></span>

                    <span><a href="https://vk.com/club70788002" target="_blank" class="btn btn-block btn-social btn-vk">
                    <i class="fa fa-vk" aria-hidden="true"></i></a></span>
                </div>

            </div>
        </div>
</section>

{% endblock %}
