{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="section" id="services">
    <div class="row">
        <div class="col-md-9 col-xs-offset-1 col-lg-offset-1">
             <h3 class="text-center subtitle">Стрижка</h3>
             <div class="social col-sm-offset-4 ">
                 <div class="category">

                     <table class="table">
                              {% for cut in haircut %}
                             <tr>
                                 <td> {{ cut.name }} </td>
                                 <td> {{ cut.price }} </td>
                             </tr>
                                      {% endfor %}
                    </table>

                 </div>
              </div>
         </div>
    </div>
</section>
{% endblock %}
