{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Main section -->
<section class="section" id="head">
    <div class="container">
        <div class="row">
            {% include 'inc/inc-form.html' %}

            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

                <h1 class="title">Fishkar hairdresser</h1>
                <h2 class="subtitle"></h2>
                <h3 class="tagline">Любые виды парикмахерских услуг не выходя из дома</h3>

            </div> <!-- /col -->
        </div><!-- /row -->
    </div>
</section>

<!-- End main section -->
{% endblock %}