{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="section" id="content">
     <div class="container">
       	 <div class="row">
    <h3 class="text-center subtitle">Плетение</h3>
         <div class="social col-sm-offset-4">


                 <div class="category">

                <table class="table table-responsive"  id="table">
                    <thead>
                        <tr>
                            <th> Вид </th>
                            <th> Шт </th>
                            <th> Цена </th>
                        </tr>
                    </thead>
                    <tbody>{% for lock in locks %}
                        <tr>
                            <td> {{ lock.name }} </td>
                            <td> {{ lock.amount }} </td>
                            <td> {{ lock.price }} </td>
                        </tr>
                                {% endfor %}
                    </tbody>
                </table>

               {% for lock in locks %}<p class="text-center tagline text-danger">{{ lock.description }}</p> {% endfor %}
</div></div>
    </div>
</section>
{% endblock %}
