{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="section" id="services">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
	    <h3 class="text-center title">Услуги</h3>
    </div>

    <div class="category text-center">
        <table class="table">
        {% for cat in category %}
           <tr>
                <td>
                     <img src="{% static '/img/' %}{{ cat.image }}" alt="{{ cat.name }}"> </td>
               <td><a href="{{cat.url}}">{{ cat.name|upper }}</a> </td>
            </tr>
        {% endfor %}
        </table>
    </div>

</div>
</section>
{% endblock %}
